@import 'normalize.css';
@import '_var.scss';


// MISC
$shrink-fx: .1s ease-in-out;
.transition { transition: all .3s ease-in-out; }

.container-fluid { padding: 0; }

.container-fluid > .row { margin: 0; }

// FEATURES

#back-to-top {
	text-align: center;
	line-height: 10px;
	color: $color-light;
	font-size: 46px;
	width: 50px;
	height: 50px;
  border-radius: 50%;
  padding: 0px 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
	z-index: $zindex-sticky;
  background-color: $color-primary;
  @extend .transition;

	&:hover {
		color: $color-primary;
		background-color: $color-accent;
	}
}

// DEFAULTS

body {
  font-family: $font-base;
  font-size: 16px;
  position: relative;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
  color: $color-light;
  margin-bottom: 2em;
}



#profile {
  background: $color-primary;

  .container {
    transition: font-size $shrink-fx;

		.row {position: relative;}

    .py-4 {
      transition: padding $shrink-fx;
    }
  }

  .name {
    color: #fff;

    h1 { margin: 0;}

    span {
      color: $color-offw;
    }
  }

  .contact {
    ul {
      padding-left: 0;
			margin-bottom: 0;
      list-style: none;
      text-align: right;

      li {
        display: inline-block;
        margin-right: .5em;

        a {
          display: block;
          height: 50px;
          width: 50px;
          background: $color-offw;
          border-radius: 50%;
          text-align: center;
          padding: .5em;
          @extend .transition;

          &:hover {
            background: $color-accent;
            text-decoration: none;
          }

          &:before {
            @extend .font-icon;
            color: $color-primary;
            font-size: 1.5em;
          }

          &.phone:before {
            content: '\f3cd'
          }

          &.email:before {
            content: '\f0e0'
          }

          &.linkedin:before {
            @extend .font-icon-brand;
            content: '\f08c'
          }

          &.pdf:before {
            content: '\f1c1'
          }
        }
      }
    }
  }

  #nav {
    .nav {
      margin: 2.5em auto;
			position: relative;
			display: block;
			text-align: center;
			transition: margin $shrink-fx;

			&:before {
				content: '';
				display: block;
				width: 45%;
				height: 1px;
				background: $color-light;
				position: absolute;
				left: 50%;
  			top: 55%;
				@include transform(translate(-50%, 0));
				z-index: -1;
			}

			.nav-item {
				margin: 0 .5em;
				display: inline-block;

				.nav-link {
					padding: .25em;
					background: $color-offw;
					border-radius: 50%;
					@extend .transition;

					&:hover, &.active {
						background: $color-accent;
					}
				}
			}
    }
  }

  &.shrink-on {
    .container {
      font-size: 14px;

      .py-4 {
        padding-top: 1em !important;
        padding-bottom: .5em !important;
      }

      h1 {font-size: 1.5em;}

      .contact ul li a {
        height: 36px;
        width: 36px;

        &:before {
          font-size: 1em;
        }
      }
    }

		#nav .nav {
			margin: 1.5em auto;
		}
  }
}


#qualifications {
  width: 100%;
  background: $color-secondary;
  padding: 5em 0;
  min-height: 450px;
  box-sizing: border-box;

  .ql-slider {
    visibility: hidden;
    transition: visibility .5s ease-in-out;

    &.slick-initialized {
      visibility: visible;
    }

    .description {
      padding: 0 1.5em;
      text-align: center;

      img {
        margin:0 auto;
      }

      p {
        margin: 2em 0;
        text-align: left;
        color: $color-light;
        font-size: 1.2em;
      }
    }
  }

  .slick-next, .slick-prev {
    &:before {
      @extend .font-icon;
    }
  }

  .slick-next {
    right: -5%;
  }

  .slick-prev {
    left: -5%;
  }
  .slick-prev:before {
    content: '\f053';
  }
  .slick-next:before {
    content: '\f054';
  }

  .slick-dots li button:before {
    content: '\f111';
    @extend .font-icon;
    color: $color-light;
  }
}

#experience {
  position: relative;
  padding: 5em 0;

  &:before {
    content: '';
    display: block;
    width:10px;
    height: 80%;
    background: $color-primary;
    position: absolute;
    left: 12%;
    bottom: 0;
  }

  h2 {
    color: $color-dark;
  }

  .exp-item {
    margin: 3em 0;

    .logo {
      text-align: center;

      img {
        border-radius: 50%;
        margin: 0 auto;
        border: solid 10px $color-primary;
      }
    }

    .exp-description {
      margin: 1.5em 0;
      padding-right: 0;

      .company {
        margin: 1.5em 0 .5em 0;

        h3 {
          text-transform: uppercase;
        }

        .role {
          font-size: 1.25em;
        }
      }

      .breakdown {
        background: $color-tertiary;
        border-radius: .25em;
        display: table;
        width:100%;
        margin-bottom: 2em;

        .tasks {
          display: table-cell;
          padding: .25em 1em;
          border-right: 1px solid $color-primary;
          border-right-color: rgba($color-primary, .15);
          color: $color-primary;
          font-size: .7em;
          text-transform: uppercase;
          transition: width 3s ease-in-out;
          width: auto;

          &:last-child { border:0;}
          &.w-0 {display: none;}


        }
      }

      .details {
        padding: 3em 0;

        h4 {
          font-size: 1.1em;
          text-transform: uppercase;
        }

        ul {
          padding-left: 20px;
        }

        .responsibilities, .environment {
          width: 50%;
          float: left;
        }
      }
    }
  }
}

#education {
  background: $color-secondary;
  border-top: 10px solid $color-primary;
  padding: 5em 0;
  color: $color-light;

}

#skills {
	padding: 5em 0;
  background: $color-tertiary;

  h2 {
    color: $color-dark;
  }
}
