@import 'normalize.css';
@import '_var.scss';
// MISC
html,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
$shrink-fx: 0.1s ease-in-out;

.transition {
  transition: all 0.3s ease-in-out;
}

.container-fluid {
  padding: 0;
}
//.container-fluid > .row { margin: 0; }

hr {
  width: 100%;
  height: 1px;
}
// FEATURES
#back-to-top {
  text-align: center;
  line-height: 10px;
  color: $color-offw;
  font-size: 46px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: $zindex-sticky;
  background-color: $color-primary;
  @extend .transition;

  &:hover {
    color: $color-offw;
    background-color: $color-accent;
  }
}
// DEFAULTS
body {
  font-family: $font-base;
  font-size: 16px;
  position: relative;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
  color: $color-light;
  margin-bottom: 2em;
}

#profile {
  background: $color-primary;

  .container {
    transition: font-size $shrink-fx;
    @media #{$break-768} {
      font-size: 14px;
    }

    .row {
      position: relative;
      @media #{$break-450} {
        display: block;
      }
    }

    .py-4 {
      transition: padding $shrink-fx;
      @media #{$break-768} {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
      }
    }
  }

  .name {
    color: #fff;
    @media #{$break-450} {
      text-align: center;

      &.py-4 {
        padding-bottom: 0 !important;
      }
    }

    h1 {
      margin: 0;
      @media #{$break-768} {
        font-size: 1.5em;
      }
    }

    span {
      color: $color-offw;
    }
  }

  .contact {
    @media #{$break-450} {
      padding-top: 0 !important;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      text-align: right;
      @media #{$break-450} {
        text-align: center;
      }

      li {
        display: inline-block;
        margin-right: 0.5em;

        a {
          display: block;
          height: 50px;
          width: 50px;
          background: $color-offw;
          border-radius: 50%;
          text-align: center;
          padding: 0.5em;
          @extend .transition;
          @media #{$break-768} {
            height: 36px;
            width: 36px;
          }

          &:hover {
            background: $color-accent;
            text-decoration: none;
          }

          &:before {
            @extend .font-icon;
            color: $color-primary;
            font-size: 1.5em;
            @media #{$break-768} {
              font-size: 1em;
            }
          }

          &.phone:before {
            content: '\f3cd';
          }

          &.email:before {
            content: '\f0e0';
          }

          &.linkedin:before {
            @extend .font-icon-brand;
            content: '\f08c';
          }

          &.pdf:before {
            content: '\f1c1';
          }
        }
      }
    }
  }

  #nav {
    position: absolute;
    left: 10px;
    @media #{$break-576} {
      display: none;
    }

    .nav {
      margin: 1.75em auto;
      position: relative;
      display: block;
      text-align: center;
      transition: margin $shrink-fx;
      /*
			&:before {
				content: '';
				display: block;
				width: 47%;
				height: 1px;
				background: $color-light;
				position: absolute;
				left: 50%;
  			top: 55%;
				@include transform(translate(-50%, 0));
				z-index: -1;
			}
			*/
      @media #{$break-768} {
        margin: 0.7em auto;
      }

      .nav-item {
        margin: 0.5em 0;
        display: block;

        .nav-link {
          padding: 5px;
          background: $color-offw;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          @extend .transition;

          &.active,
          &:hover {
            background: $color-accent;
          }
        }
      }
    }
  }

  &.shrink-on {
    .container {
      font-size: 14px;

      .py-4 {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
        @media #{$break-450} {
          &.name {
            padding-bottom: 0 !important;
          }

          &.contact {
            padding-top: 1em !important;
          }
        }
      }

      h1 {
        font-size: 1.5em;
      }

      .contact ul li a {
        height: 36px;
        width: 36px;

        &:before {
          font-size: 1em;
        }
      }
    }

    #nav {
      font-size: 14px;

      .nav {
        margin: 0.7em auto;

        .nav-item {
          margin: 5px 0;
        }
      }
    }
  }
}

#qualifications {
  width: 100%;
  background: $color-secondary;
  padding: 5em 0;
  min-height: 450px;
  box-sizing: border-box;

  object.icon {
    max-height: 190px;
  }
  
  .ql-slider {
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;

    &.slick-initialized {
      visibility: visible;
    }

    .description {
      padding: 0 1.5em;
      text-align: center;

      img {
        margin: 0 auto;
      }

      p {
        margin: 2em 0;
        text-align: left;
        color: $color-light;
        font-size: 1.2em;
      }
    }
  }

  .slick-next,
  .slick-prev {
    &:before {
      @extend .font-icon;
      @extend .transition;
      color: $color-offw;
    }

    &:hover:before {
      color: $color-accent;
    }
  }

  .slick-next {
    right: -5%;
  }

  .slick-prev {
    left: -5%;
  }

  .slick-prev:before {
    content: '\f053';
  }

  .slick-next:before {
    content: '\f054';
  }

  .slick-dots li button:before {
    content: '\f111';
    @extend .font-icon;
    @extend .transition;
    color: $color-offw;
  }

  .slick-dots li button:hover:before {
    color: $color-accent;
  }
}

#experience {
  position: relative;
  padding: 5em 0;

  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 95%;
    background: $color-primary;
    position: absolute;
    left: 12%;
    bottom: 0;
    @media #{$break-768} {
      display: none;
    }
  }

  h2 {
    color: $color-dark;
  }

  .exp-item {
    margin: 3em 0;
    @media #{$break-768} {
      display: block;
      flex: none;

      .col {
        float: none;
      }
    }

    .logo {
      text-align: center;
      @media #{$break-768} {
        display: block;
        width: 100%;
        max-width: none;
      }

      img {
        border-radius: 50%;
        margin: 0 auto;
        border: solid 10px $color-primary;
        max-height: 190px;
        @extend .transition;
        @media #{$break-1000} {
          max-height: 150px;
        }
      }
    }

    .exp-description {
      margin: 1.5em 0;
      padding-right: 0;
      @media #{$break-768} {
        display: block;
        width: 100%;
        max-width: none;
      }
      @media #{$break-576} {
        padding: 15px;
      }

      .company {
        margin: 1.5em 0 0.5em;
        @media #{$break-1000} {
          margin-top: 0.75em;
        }

        h3 {
          text-transform: uppercase;
        }

        .role {
          font-size: 1.25em;
        }
      }

      .breakdown {
        background: $color-tertiary;
        border-radius: 0.25em;
        display: table;
        width: 100%;
        margin-bottom: 2em;

        .tasks {
          display: table-cell;
          padding: 0.25em 1em;
          border-right: 1px solid $color-primary;
          border-right-color: rgba($color-primary, .15);
          color: $color-primary;
          font-size: 0.7em;
          text-transform: uppercase;
          transition: width 3s ease-in-out;
          width: auto;

          &:last-child {
            border: 0;
          }

          &.w-0 {
            display: none;
          }
        }
      }

      .details {
        padding: 3em 0;

        h4 {
          font-size: 1.1em;
          text-transform: uppercase;
        }

        ul {
          padding-left: 20px;
        }
        /*
        .responsibilities, .environment {
          width: 50%;
          float: left;

					@media #{$break-576} {
						float: none;
						width: 100%;
					}
        } */
      }
    }
  }
}

#education {
  background: $color-secondary;
  border-top: 10px solid $color-primary;
  padding: 5em 0;
  color: $color-light;

  .row {
    @media #{$break-576} {
      display: block;
    }
  }

  .role {
    display: block;
    font-weight: bold;
  }
}

#skills {
  padding: 5em 0;
  background: $color-tertiary;

  .row {
    @media #{$break-576} {
      margin: 0;
    }
  }

  h2 {
    color: $color-dark;
  }

  ul {
    display: block;
    width: 100%;
    column-count: 3;
    column-gap: 2em;
    column-width: auto;
    padding: 0;
    margin: 0 0 3em;
    @media #{$break-576} {
      column-count: 2;
    }
    @media #{$break-450} {
      column-count: 1;
    }

    li {
      display: block;
      @extend .clear;

      .stars {
        display: inline-block;
        float: right;
        visibility: hidden; // hide for now
      }
    }
  }
}

footer {
  background: $color-primary;
  color: $color-light;
  padding: 0.3em 0 !important;

  p {
    margin: 0.5em auto;
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    color: $color-offw;
  }
}
